*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background: #18181b;
}
.tudo {
    display: flex;
}
img {
    height: 80vh;
    width: 50vw;
    position: absolute;
    top: 12vh;
    left: 8vw;
    transition: 1s;
}
img:hover {
    transform: scale(1.05);
    transition: 1s;
}
.imcCalculo {
    display: block;
}
form {
    background: #262626;
    color: white;
    position: absolute;
    top: 14vh;
    left: 62vw;
    height: 70vh;
    width: 28vw;
    border-radius: 5px;
    border: solid 1px white;
}
form hr {
    width: 70%;
    height: 0.2vh;
    border: none;
    position: absolute;
    left: 4.3vw;
    background: rgb(23, 207, 23);
}
form h1 {
    text-align: center;
    margin-top: 5vh;
}
.peso {
    height: 10vh;
    width: 100%;
    margin-top: 5%;
}
.peso label {
    margin-left: 3vw;
}
.peso-input {
    display: flex;
    align-items: center;
    background: #3f3f46;
    width: 80%;
    height: 6.5vh;
}
.peso-input:hover i {
    color: rgb(23, 207, 23);
    transition: 0.4s;
}
.peso-input span {
    margin-right: 1vw;
}
.peso-input i {
    font-size: 1.6em;
    margin-right: 0.3vw;
    margin-left: 1vw;
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.645);
}
.peso .peso-input {
    margin-left: 3vw;
}
.peso-input input {
    height: 6.5vh;
    margin-right: 0.3vw;
    border: none;
    outline: none;
    background: transparent;
    width: 80%;
    padding: 0.5vw;
    color: white;
}
.altura {
    height: 10vh;
    width: 100%;
}
.altura label {
    margin-left: 3vw;
}
.altura-input {
    display: flex;
    align-items: center;
    background: #3f3f46;
    width: 80%;
    height: 6.5vh;
}
.altura-input span {
    margin-right: 1vw;
}
.altura .altura-input {
    margin-left: 3vw;
}
.altura-input input {
    height: 6.5vh;
    border: none;
    width: 80%;
    background: transparent;
    outline: none;
    margin-right: 0.3vw;
    padding: 0.5vw;
    color: white;
}
.altura-input i {
    font-size: 1.7em;
    margin-right: 0.3vw;
    margin-left: 1vw;
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.645);
}
.altura-input:hover i {
    color: rgb(23, 207, 23);
    transition: 0.4s;
}
form button {
    background-color: rgb(23, 207, 23);
    border: none;
    position: absolute;
    top: 36vh;
    left: 8vw;
    width: 12vw;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    transition: 0.5s;
}
form button:hover {
    background-color: rgb(21, 107, 21);
    transform: scale(1.1);
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.742);
}
#cx-resultado {
    height: 15vh;
    width: 100%;
    display: flex;
    display: none;
    align-items: center;
    position: absolute;
    top: 40vh ;
    margin-top: 10%;
}
.hr-imc1 {
    top: 0
}
.hr-imc {
    top: 15vh
}
.divres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 5vw;
    margin-left: 15%;
    gap: 10%;
    border-right: 1.5px solid #3b3737 ;
    margin-top: 3%;
}
#resul-imc {
    font-size: 1.6rem;
    margin-right: 1%;
}
#frase {
    position: absolute;
    top: 0.2vh;
    left: 8.2vw;
    margin-left: 4%;
    width: 50%;
    height: 12vh;
    display: flex;
    align-items: center;
    padding-left: 0.7vw;
    margin-top: 2.5%;
    overflow-wrap: break-word;

}
#frase p {
    overflow-wrap: break-word;
}
.info {
    position: absolute;
    top: 18vh;
    left: 6vw;
    transition: 0.8s;
}
.info:hover {
    transform: scale(1.1);
    transition: 0.8s;
}
.info a {
    color:rgb(23, 207, 23);
}
.info a:hover {
    color: rgb(21, 107, 21);;
}
.opçoes {
    width: 28vw;
    height: 6vh;
    position: absolute;
    top: 7vh;
    left: 62vw;
    display: flex;
    align-items: center;
    gap: 25%;
}
/*parte 2*/
.calorias-calculo h1 {
    width: 95%;
    text-align: center;
    margin-left: 3%;
    color: white;
    font-size: 1.2em;
    margin-top: 8%;
    border-bottom: solid 0.3vh rgb(23, 207, 23);
}
.formulario {
    color: white;
}
.masc-fem {
    height: 5vh;
    margin-top: 5%;
    margin-left: 10%;
}
.masc-fem p {
    display: flex;
    color: white;
}
.masc-fem p label {
    margin-right: 1.5%;
}
.masc-fem p input{
    margin-left: 2%;

}
.clc-imc {
    font-size: 1.1em;
    width: 15%;
    height: 70%;
    margin-left: 20%;
    border: none;
    background: transparent;
    cursor: pointer;
    color:rgb(23, 207, 23);
}
.clc-cal {
    font-size: 1.1em;
    width: 20%;
    height: 70%;
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
}

.calorias-calculo {
    display: none;
    background: #262626;
    position: absolute;
    height: 70vh;
    width: 28vw;
    top: 14vh;
    left: 62vw;
    border-radius: 5px;
    border: solid 1px white;
}
.altura-cal {
    height: 10vh;
    width: 100%;
}
.altura-cal label {
    height: 10vh;
    width: 100%;
    margin-left: 11%;
}
.altura-cal2 {
    display: flex;
    align-items: center;
    margin-left: 10%;
    background: #3f3f46;
    width: 80%;
    height: 6.5vh;
}
.altura-cal span {
    margin-right: 1vw;
}
.altura .altura-cal {
    margin-left: 3vw;
}
.altura-cal input {
    height: 6.5vh;
    border: none;
    width: 80%;
    background: transparent;
    outline: none;
    margin-right: 0.3vw;
    padding: 0.5vw;
    color: white;
}
.altura-cal i {
    font-size: 1.7em;
    margin-right: 0.3vw;
    margin-left: 1vw;
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.645);
}
.altura-cal :hover i {
    color:rgb(23, 207, 23);
    transition: 0.4s;
}
.peso-cal {
    height: 10vh;
    width: 100%;
}
.peso-cal label {
    height: 10vh;
    width: 100%;
    margin-left: 11%;
}
.peso-cal2 {
    display: flex;
    align-items: center;
    background: #3f3f46;
    width: 80%;
    height: 6.5vh;
}
.peso-cal2 span {
    margin-right: 1vw;
}
.peso-cal .peso-cal2 {
    margin-left: 3vw;
}
.peso-cal2 input {
    height: 6.5vh;
    border: none;
    width: 80%;
    background: transparent;
    outline: none;
    margin-right: 0.3vw;
    padding: 0.5vw;
    color: white;
    transition: 0.4s;

}
.peso-cal2:hover i {
    color:rgb(23, 207, 23);
    transition: 0.4s;
}
.peso-cal2 i {
    font-size: 1.7em;
    margin-right: 0.3vw;
    margin-left: 1vw;
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.645);
}
.idade {
    height: 10vh;
    width: 100%;
}
.idade label {
    margin-left: 3vw;
}
.idade-input {
    display: flex;
    align-items: center;
    background: #3f3f46;
    width: 80%;
    height: 6.5vh;
}
.idade-input:hover i {
    color: rgb(23, 207, 23);
    transition: 0.4s;
}
.idade-input span {
    margin-right: 1vw;
}
.idade-input i {
    font-size: 1.6em;
    margin-right: 0.3vw;
    margin-left: 1vw;
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.645);
}
.idade .idade-input {
    margin-left: 3vw;
}
.idade-input input {
    height: 6.5vh;
    margin-right: 0.3vw;
    border: none;
    outline: none;
    background: transparent;
    width: 80%;
    padding: 0.5vw;
    color: white;
}
.calorias-calculo button {
    background-color: rgb(23, 207, 23);
    border: none;
    position: absolute;
    top: 48vh;
    left: 8vw;
    width: 12vw;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    transition: 0.5s;
}
.calorias-calculo button:hover {
    background-color: rgb(21, 107, 21);
    transform: scale(1.1);
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.742);
}
.caixaResultado {
    display: none;
    height: 13vh;
    width: 26vw;
    position: absolute;
    top: 55vh;
    left: 1vw;
    border-top: solid 0.3vh rgb(23, 207, 23);
    border-bottom: solid 0.3vh rgb(23, 207, 23);
    text-align: center;
    color: white;
}
.caixaResultado p {
    margin-top: 8%;
}
